build/windows/MinGW/
build/windows/obj/
build/windows/pipboy/
build/linux/codeblocks/obj/
build/linux/codeblocks/bin/
test/

# Unimportant but frequently changing project files.
build/linux/codeblocks/*.depend
build/linux/codeblocks/*.layout

# Build products.
build/linux/build/tools/local/libPebbleLocalSim.a
build/linux/build/tools/local/resCompiler

*.goutput*
*~

# waf files
.waf*
.lock-waf*
build/waf_build/

